@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Google Sans', sans-serif;
  padding: 0rem 20vw;
  /*margin-top: -0.5rem;*/
  background-color: black;
  color: lightgray;
  transition: 300ms;
}

body h1 {
  font-family: 'Iceberg', sans-serif;
  margin-block-start: 0.8rem;
  margin-block-end: 1rem;
}

summary {
  font-family: 'Funnel Display', sans-serif;
  outline: 2px solid #555;
  outline-offset: -2px;
  border-radius: 3px;
}

pre {
  font-family: 'Space Mono', monospace, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #393939;
  padding: 0.4rem 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-block-start: -0.1rem;
  margin-block-end: 0.6rem;
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  display: block;
  /*width: 100%;*/
  box-sizing: border-box !important;
  transition: 300ms;
}

span[title] {
  color: #bbb;
  text-decoration: dotted underline;
  cursor: help;
}

#bg {
  z-index: -100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120%;
  height: 120%;
  min-width: 100%;
  min-height: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
}

#bg-col-parent {
  z-index: -99;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120%;
  height: 120%;
  min-width: 100%;
  min-height: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
  background-color: #000;
  opacity: 0.95;
}

#video {
  padding: 0;
  margin: 0;
}

details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details {
  border: 1px solid #55555500;
  /*outline: 2px solid #555;
  outline-offset: -2px;*/
  box-sizing: content-box;
  border-radius: 4px;
  /*padding: 0.5em 0.5em 0 0.5em;*/
  transition: 300ms;
  line-height: 25px;
  margin-bottom: 0.5em;
  margin-top: -1em;
  background-color: #333;
  transition: 300ms;
}

details:not([disabled]):not([open]):hover {
  background-color: #444;
  transition: 300ms;
}

details:not([disabled])[open]:hover summary {
  background-color: #444;
  outline: 2px solid #444;
}

details:not([disabled])[open]:hover pre {
  background-color: #222;
}

details:not([disabled])[open]:hover {
  background-color: #333;
}

summary {
  font-weight: bold;
  /*margin: -0.5em -0.5em 0 -0.5em;*/
  padding: 0.3rem 0.3rem 0.3rem 1.4rem;
  display: block;
  position: relative;
  transition: 300ms;
}

details[open] {
  padding: 0rem;
  margin-top: -1em;
  background-color: #444;
  transition: 300ms;
}

details[open] summary {
  border-bottom: 2px solid #888;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.6rem;
  background-color: #555;
  border-radius: 3px;
  transition: 300ms;
}

details + details {
  margin-top: -3px !important;
}

a {
  position: relative;
  text-decoration: none;
  transition: 300ms;
}

a:link {
  color: #03f;
}

a:visited {
/*color: #0ff;*/
  color: #07f;
}

a:hover {
  color: #fff;
  background-color: #07f;
  /*outline: 3px solid #07f;*/
  border-radius: 1px;
}

/*
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}*/

details:not([disabled]) summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.7rem;
  left: 0.6rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[disabled] summary:before {
  font-size: 0.8rem;
  content: "🔒";
  position: absolute;
  
  top: 0.4rem;
  left: 0.3rem;
  
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
}

details[disabled] {
  color: #777;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}
details[disabled] summary {
  pointer-events: none; /* prevents click events */
  user-select: none; /* prevents text selection */
}

.wrapper {
  cursor: not-allowed;
}