@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
  --font-h1:      'Funnel Display';
  --font-summary: 'Chakra Petch';
  --font-body:    'Google Sans';
  --font-mono:    'Space Mono';

  --radius-default: 4px;

  --transition: 230ms;
  --transition-fast: 150ms;

  --bg-opacity: 0.3;
}

@media only screen
and (min-width: 320px)
and (max-width: 1100px) {
  body {
    padding: 0vw 2vw;
    transition: 100ms !important;
  }
}

@media only screen
and (min-width: 1100px) {
  body {
    padding: 0rem 20vw;
    transition: 100ms !important;
  }
}

canvas {
  z-index: -900;
  opacity: var(--bg-opacity);
}

body {
  font-family: var(--font-body), sans-serif;
  /*margin-top: -0.5rem;*/
  background-color: black;
  color: lightgray;
  transition: var(--transition);
  -webkit-tap-highlight-color: #7777ff33 !important;
}

body h1 {
  font-family: var(--font-h1), sans-serif;
  margin-block-start: 0.8rem;
  margin-block-end: 1rem;
}

summary {
  font-family: var(--font-summary), sans-serif;
  outline: 2px solid #555;
  outline-offset: -2px;
  border-radius: var(--radius-default);
}

pre {
  font-family: var(--font-mono), monospace, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #393939;
  padding: 0.4rem 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-block-start: -0.1rem;
  margin-block-end: 0.6rem;
  border-radius: var(--radius-default);
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
  display: block;
  /*width: 100%;*/
  box-sizing: border-box !important;
  transition: var(--transition);
}

span[title] {
  color: #bbb;
  text-decoration: dotted underline;
  text-underline-offset: 0.1em;
  cursor: help;
}

code {
  background-color: #555;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
  outline: 2px solid #444;
  border-radius: var(--radius-default);
}
/* 
#bg {
  z-index: -100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120%;
  height: 120%;
  min-width: 100%;
  min-height: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
}

#bg-col-parent {
  z-index: -99;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120%;
  height: 120%;
  min-width: 100%;
  min-height: 100%;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0;
  background-color: #000;
  opacity: calc(1 - var(--bg-opacity));
}

#video {
  padding: 0;
  margin: 0;
}
*/
details summary { 
  cursor: pointer;
}

details summary > * {
  display: inline;
}

details {
  border: 1px solid #55555500;
  /*outline: 2px solid #555;
  outline-offset: -2px;*/
  box-sizing: content-box;
  border-radius: var(--radius-default);
  /*padding: 0.5em 0.5em 0 0.5em;*/
  transition: var(--transition);
  line-height: 25px;
  margin-bottom: 0.5em;
  margin-top: -1em;
  background-color: #333;
  transition: var(--transition);
}

details:not([disabled]):not([open]):hover {
  background-color: #444;
  transition: var(--transition);
}

details:not([disabled])[open]:hover summary {
  background-color: #444;
  outline: 2px solid #444;
}

details:not([disabled])[open]:hover pre {
  background-color: #222;
}

details:not([disabled])[open]:hover {
  background-color: #333;
}

summary {
  font-weight: bold;
  /*margin: -0.5em -0.5em 0 -0.5em;*/
  padding: 0.3rem 0.3rem 0.3rem 1.4rem;
  display: block;
  position: relative;
  transition: var(--transition);
}

details[open] {
  padding: 0rem;
  margin-top: -1em;
  background-color: #444;
  transition: var(--transition);
}

details[open] summary {
  border-bottom: 2px solid #888;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.6rem;
  background-color: #555;
  border-radius: var(--radius-default);
  transition: var(--transition);
}

details + details {
  margin-top: -3px !important;
}

a {
  position: relative;
  text-decoration: none;
  transition: var(--transition);
}

a:link {
  color: #35f;
  font-weight: bold;
}

a:hover {
  color: #cef;
  background-color: #35f;
  /*outline: 2px solid #57f;*/
  border-radius: 1px;
  transition: var(--transition);
}

a:visited {
/*color: #0ff;*/
  color: #55f;
}

a:visited:hover {
  color: #bbf;
  background-color: #55f;
}

/*
a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00d;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}*/

details:not([disabled]) summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 0.7rem;
  left: 0.6rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[disabled] summary:before {
  font-size: 0.8rem;
  content: "🔒";
  position: absolute;
  
  top: 0.4rem;
  left: 0.3rem;
  
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
}

details[disabled] {
  color: #777;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details > ul {
  padding-bottom: 1rem;
  margin-bottom: 0;
}
details[disabled] summary {
  pointer-events: none; /* prevents click events */
  user-select: none; /* prevents text selection */
}

.wrapper {
  cursor: not-allowed;
}

#pass {
  color: #ccc;
  background-color: #555;
  border: 2px dashed yellow;
  border-radius: var(--radius-default);
  width: 100%;
  opacity: 0;
  transition: var(--transition-fast);
}

#pass:hover {
  opacity: 0.5;
  transition: var(--transition-fast);
}

#pass:focus {
  outline-width: 0;
  border: 3px solid yellow;
  transition: var(--transition-fast);
}

#pass:disabled {
  display: none;
  transition: var(--transition-fast);
}
