---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'abotz me';

const identity = {
	firstName: "KITTIE!!1",
	country: "KITTYLANDZ!!1",
	occupation: "MAEKIGN KITTIEZ!1",
	hobbies: ["kittiez", "moar kittiez", "prorgamz"],
};

const skills = ["kittiez", "MOAR KITTIEZ!!!1"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle}>
	<p>heweo iam:</p>
	<ul>
		<li>my naem iz {identity.firstName}</li>
		<li>i liev in {identity.country}</li>
		{identity.hobbies.length >= 2 &&
			<li>twow og my hobiez r:</li>
		}
	</ul>
	<p>my skilz r:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	{happy && <p>IAM HAPPIEZ!!!!11</p>}
	{finished && <p>IAM FINIHS!!!1111</p>}
	{goal === 3 ? <p>MY GOALZ IZ 3 DAYZ!!1</p>: <p>MY GOALZ IZ NOTZ</p>}
</BaseLayout>