---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
		<h1>trevi's blog</h1>
        <p>soemthing i guess</p>
        <p>hewwo</p>
	</body>
</html>
