---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
		<h1>trevi's blog</h1>
        <p>MY AMAZEING BLOGZ</p>
        <p>CATZ!!1</p>
		<ul>
			<li><a href="/posts/post-1">poztz 1 !!1</a></li>
			<li><a href="/posts/post-2">poztz 2 !!1</a></li>
			<li><a href="/posts/post-3">poztz 3 !!1</a></li>
		</ul>
	</body>
</html>
